.nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-family: $fontTitle;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    &.filled{
        background-color: #0f0f0f;
    }
    &-grid{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-logo {
        a {
            text-transform: uppercase;
            font-size: rem-calc(14);
            font-weight: 700;
            letter-spacing: 4px;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: $colorNavActive;
            }
        }
    }
    &-elements {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        list-style-type: none;
        margin-right: -25px;
        a {
            position: relative;
            text-transform: uppercase;
            font-size: rem-calc(12);
            font-weight: 500;
            letter-spacing: 3px;
            color: #ffffff;
            text-decoration: none;
            transition: all 0.3s ease-in-out;
            display: block;
            padding: 20px 15px;
            @include breakpoint(xxlarge) {
                padding: 30px 15px;
            }
            &.active {
                pointer-events: none;
            }
            &:hover{
                color: $colorNavActive;
            }
            &.active {
                &::after{
                    width: 90%;
                }
            }
            &::after{
                content: "";
                position: absolute;
                display: block;
                bottom: 10px;
                width: 0;
                height: 2px;
                left: 50%;
                transform: translateX(-50%);
                background-color: $colorNavActive;
                transition: all 0.15s ease-in;
                transition-delay: 0.4s;
            }
        }
    }
    &-element {
        padding: 0 10px;
    }
}
