@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');

$fontTitle: 'Raleway', sans-serif;
$fontBody: 'Montserrat', sans-serif;

$overlayDisplay: false;
$overlayMainColor: #000;
$overlayMainOpacity: 0.2;

$colorNavActive: #ffae00;

